---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?API_KEY=YOUTUBE_KEY&key=YOUTUBE_KEY&part=snippet&q=@MrHistory1,%20Canada
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "fJwzQoPF4xtnE1k7hN8gqWSSE0I",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 106,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "_8ZnXSThyhTC8L3fo5sR2aGDAzM",
              "id": {
                "kind": "youtube#video",
                "videoId": "e_okM7Mig6s"
              },
              "snippet": {
                "publishedAt": "2019-10-13T18:35:32Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Canada",
                "description": "Pictures Requiring Attribution: Buzzzsherman: https://en.wikipedia.org/wiki/File:Journal.pone.0001596.g004.png Dylan Kereluk ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/e_okM7Mig6s/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/e_okM7Mig6s/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/e_okM7Mig6s/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2019-10-13T18:35:32Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "nvXclZGE2_yCvYuyttQu1Xd-xn8",
              "id": {
                "kind": "youtube#video",
                "videoId": "O3JiNJ3AArk"
              },
              "snippet": {
                "publishedAt": "2022-03-05T11:37:00Z",
                "channelId": "UCocEEvI3mxNDo10ZAQJDTAQ",
                "title": "The history of Canada explained in 20 minutes.[...]
